<!DOCTYPE html>
<html ng-app="CustomModule">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/CustomServiceCall.js"></script>
    <script src="Scripts/CustService.js"></script>
</head>
<body ng-controller="CustomController">
    <div>
        <table border="1">
            <tr>
                <td>Input String</td>
                <td><input type="text" ng-model="input" /></td>
            </tr>
            <tr>
                <td>Result String</td>
                <td><input type="text" ng-model="output"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="button" ng-click="processMethod(input)" value="Process String" /></td>
            </tr>
        </table>
    </div>
</body>
</html>