<!DOCTYPE html>
<html lang="en" ng-app="MyModule">

<head>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/module_controller.js"></script>
</head>

<body ng-controller="firstController">
    <div><input type="text" ng-model="message" /> </div>
    <div>{{message}}</div>
    <br/><br/>
    <table>
        <tr>
            <td>First Name : </td>
            <td><input type="text" ng-model="employee.FirstName" /></td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td><input type="text" ng-model="employee.LastName" /></td>
        </tr>
        <tr>
            <td>Age : </td>
            <td><input type="text" ng-model="employee.Age" /></td>
        </tr>
    </table>
    <br/><br/>
    <table>
        <tr>
            <td>First Name : </td>
            <td>{{employee.FirstName}}</td>
        </tr>
        <tr>
            <td>Last Name : </td>
            <td>{{employee.LastName}}</td>
        </tr>
        <tr>
            <td>Age : </td>
            <td>{{employee.Age}}</td>
        </tr>
    </table>
</body>

</html>